<!doctype html>
<html data-ng-app="gouldiApp">
<head>
    <!-- Just load all nodes before our own scripts -->
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="node_modules/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="node_modules/tv4/tv4.js"></script>
    <script type="text/javascript" src="node_modules/objectpath/lib/ObjectPath.js"></script>
    <script type="text/javascript" src="node_modules/angular-schema-form/dist/schema-form.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-schema-form/dist/bootstrap-decorator.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="node_modules/highlight.js/lib/highlight.js"></script>
    <script type="text/javascript" src="node_modules/angular-highlightjs/build/angular-highlightjs.min.js"></script>

    <!-- Own scripts -->
    <script src="scripts/angularGouldi.js"></script>
    <script src="scripts/angularGouldiServices.js"></script>
    <script src="scripts/angularGouldiConfig.js"></script>
    <script src="scripts/angularGouldiController.js"></script>

    <!-- Some nice styles for the UI -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-arrow-buttons/dist/css/bootstrap-arrow-buttons.css">
    <link rel="stylesheet" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="styles/basic.css">
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css">
</head>
<body>
<div class="wrapper">
    <div class="info-panel">
        <div data-ng-controller="GouldiMainController">
            <uib-tabset active="activeForm">
                <uib-tab ng-attr-active="tabs[0].active" heading="Gold Standard">
                    <form name="gold"
                          data-sf-schema="schema"
                          data-sf-form="form"
                          data-sf-model="model"
                          data-ng-submit="onSave(repo)">
                    </form>
                    <hr>
                    <uib-accordion close-others="oneAtATime">
                        <div uib-accordion-group class="panel-default" heading="MathML Editor Field" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                            <div hljs
                                 hljs-source="model.correct_mml"
                                 hljs-language="html"></div>
                        </div>
                        <div uib-accordion-group class="panel-default" heading="Information">
                            <div class="alert alert-info" id="logger-info-helper"></div>
                        </div>
                    </uib-accordion>
                </uib-tab>
                <uib-tab ng-attr-active="tabs[1].active" heading="GitHub Access Definitions">
                    <form name="repo"
                          data-sf-schema="schemarepo"
                          data-sf-form="formrepo"
                          data-sf-model="modelrepo"
                          data-ng-submit="onRequest(repo)"></form>
                </uib-tab>
                <uib-tab ng-attr-active="tabs[2].active" heading="Model">
                    <div class="alert alert-info" id="model-info-helper"></div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="tree-panel">
        <div class="alert alert-info math-renderer">
            <div id="svg-renderer-container"></div>
        </div>
        <div id="ast" style="height:700px; width:auto;"></div>
    </div>
</div>
</body>
</html>
