<!doctype html>
<html data-ng-app="gouldiApp">
<head>
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="node_modules/tv4/tv4.js"></script>
    <script type="text/javascript" src="node_modules/objectpath/lib/ObjectPath.js"></script>
    <script type="text/javascript" src="node_modules/angular-schema-form/dist/schema-form.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-schema-form/dist/bootstrap-decorator.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js"></script>
    <script src="scripts/angularGouldi.js"></script>
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-arrow-buttons/dist/css/bootstrap-arrow-buttons.css">
    <link rel="stylesheet" href="node_modules/angular-ui-bootstrap/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="styles/basic.css">
</head>
<body>
<div class="wrapper">
    <div class="info-panel">
        <div data-ng-controller="FormController">
            <uib-tabset active="activeForm">
                <uib-tab ng-attr-active="tabs[0].active" heading="Gold Standard">
                    <form name="gold"
                          data-sf-schema="schema"
                          data-sf-form="form"
                          data-sf-model="model"
                          data-ng-submit="onSave(repo)">
                    </form>
                    <hr>
                    <div class="alert alert-info" id="logger-info-helper"></div>
                </uib-tab>
                <uib-tab ng-attr-active="tabs[1].active" heading="GitHub Access Definitions">
                    <form name="repo"
                          data-sf-schema="schemarepo"
                          data-sf-form="formrepo"
                          data-sf-model="modelrepo"
                          data-ng-submit="onRequest(repo)"></form>
                </uib-tab>
                <uib-tab ng-attr-active="tabs[2].active" heading="Model">
                    <div class="alert alert-info" id="model-info-helper"></div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="tree-panel">
        <div class="alert alert-info math-renderer">
            <div id="svg-renderer-container"></div>
        </div>
        <div id="ast" style="height:700px; width:auto;"></div>
    </div>
</div>
</body>
</html>
