<!doctype html>
<html data-ng-app="gouldiApp">
<head>
    <!-- Just load all nodes before our own scripts -->
    <script type="text/javascript" src="node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-cookies/angular-cookies.js"></script>
    <script type="text/javascript" src="node_modules/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="node_modules/tv4/tv4.js"></script>
    <script type="text/javascript" src="node_modules/objectpath/lib/ObjectPath.js"></script>
    <script type="text/javascript" src="node_modules/angular-schema-form/dist/schema-form.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-schema-form/dist/bootstrap-decorator.min.js"></script>
    <script type="text/javascript" src="node_modules/angular1-ui-bootstrap4/dist/ui-bootstrap-tpls.js"></script>
    <script type="text/javascript" src="node_modules/marked/lib/marked.js"></script>
    <script type="text/javascript" src="node_modules/angular-marked/dist/angular-marked.js"></script>

    <!-- Code Block Syntax Highlighting via HighlighJS -->
    <!-- https://cdnjs.com/libraries/highlight.js -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/atom-one-light.min.css">
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
    <script type="text/javascript" src="node_modules/angular-highlightjs-searchtext/build/release/angular-highlightjs-searchtext.min.js"></script>
    <link rel="stylesheet" href="node_modules/angular-highlightjs-searchtext/build/release/angular-highlightjs-searchtext.min.css">

    <!-- Own scripts -->
    <script src="scripts/angularGouldi.js"></script>
    <script src="scripts/angularGouldiServices.js"></script>
    <script src="scripts/angularGouldiConfig.js"></script>
    <script src="scripts/angularGouldiFactory.js"></script>
    <script src="scripts/angularGouldiController.js"></script>
    <script src="scripts/angularGouldiInfoController.js"></script>

    <!-- Some nice styles for the UI -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap-arrow-buttons/dist/css/bootstrap-arrow-buttons.css">
    <link rel="stylesheet" href="node_modules/angular1-ui-bootstrap4/dist/ui-bootstrap-csp.css">
    <link rel="stylesheet" href="styles/basic.css">
</head>
<body>
<div class="row main-wrapper">
    <div class="col-4 left-col">
        <div data-ng-controller="GouldiMainController">
            <uib-tabset active="activeForm">
                <uib-tab ng-attr-active="tabs[0].active" heading="Gold Standard">
                    <form name="gold"
                          data-sf-schema="schema"
                          data-sf-form="form"
                          data-sf-model="model"
                          data-ng-submit="onSave(repo)">
                    </form>
                </uib-tab>
                <uib-tab ng-attr-active="tabs[1].active" heading="About">
                    <div class="bs-callout bs-callout-primary" id="about-container-div"></div>
                    <a href="https://www.isg.uni-konstanz.de/">Impressum</a>
                </uib-tab>
                <uib-tab ng-attr-active="tabs[2].active" heading="GitHub Access Definitions">
                    <form name="repo"
                          data-sf-schema="schemarepo"
                          data-sf-form="formrepo"
                          data-sf-model="modelrepo"
                          data-ng-submit="onRequest(repo)"></form>
                    <p>Note that the <a href="https://github.com/settings/tokens">API token</a> will be sent to our server.<br/>
                We recommend to delete the token after usage.</p>
                </uib-tab>
                <uib-tab ng-attr-active="tabs[3].active" heading="Model">
                    <div class="alert alert-info" id="model-info-helper"></div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
    <div class="col-8 right-col">
        <div class="alert alert-info math-renderer">
            <div id="svg-renderer-container"></div>
        </div>
        <div><div id="ast" style="height:700px; width:auto;"></div></div>
        <a href="https://www.isg.uni-konstanz.de/">Impressum</a>
    </div>
</div>
<hr>
<div class="bottom-container">
    <div data-ng-controller="GouldiInfoController">
        <uib-accordion close-others="oneAtATime">
            <div uib-accordion-group class="panel-default" heading="Commit Message / Create an Issue" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
                <label>Overwrite commit message</label><br>
                <input type="text" name="input" ng-model="commit_message" ng-change="updateCommit(commit_message)">
                <div class="help-block">Use the comments field for persistent notes</div>
                <hr>
                <a target="_blank" href="https://github.com/ag-gipp/gouldi/issues/new?title=Issue with {{model.qID}} {{model.title}}
        &body=%0A{{commitMessage}}%0A[Link to {{model.title}}, qID {{model.qID}}](https://gouldi.wmflabs.org/{{model.qID}})">
                    Create issue about this item on github</a>
            </div>
            <div uib-accordion-group class="panel-default" heading="Action Messages" id="logger-info-panel">
                <div class="alert alert-info" id="logger-info-helper"></div>
            </div>
            <div uib-accordion-group class="panel-default" heading="MathML Field">
                <label class="searchLabel">Search for strings in the MathML below:
                    <input type="text" name="input" ng-model="code_search_text">
                </label>
                <div class="scrollable-code">
                    <hljs-search code="code_mml" language="code_language" searchtext="code_search_text" linenumber="code_line_numbering"></hljs-search>
                </div>
            </div>
        </uib-accordion>
    </div>
</div>
<a href="https://github.com/ag-gipp/gouldi"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
</body>
</html>
