body {
    margin: 5px
}

.wrapper{
    position: relative;
    margin: 10px;
}

.info-panel{
    width: 40%;
    position: absolute;
    left: 0;
}

.tree-panel{
    width: 60%;
    position: absolute;
    right: 0;
    padding-left: 10px;
}

label {
    margin-bottom: 0;
}

.btn-row{
    position: relative;
    margin: auto;
    width: 95%;
}

.btn-center{
    position: relative;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.alert{
    white-space: pre-wrap;
}

.tab-content>.active {
    margin: 10px 5px 5px 5px;
}

.schema-form-tabarray .col-xs-3 {
    width: 100%;
}

.schema-form-tabarray .col-xs-9 {
    width: 100%;
}

.small-tabs li>a {
    padding: 3px 10px 3px 10px;
}

.small-tabs div.tab-pane div.form-group {
    width: 70%;
    position: absolute;
}

.small-tabs>div {
    padding-left: 5px;
}

.math-renderer {
    width: 100%;
    padding: 5px;
    min-height: 30pt;
    display: inline-block;
    text-align: center;
    white-space: normal;
}

.math-renderer svg {
    height: 22pt;
    width: auto;
}

iframe{
    border: 1px solid #eeeeef;
    border-radius: 4px;
}

.bottom-alignment{
    position: relative;
    margin-right: 0;
    margin-left: 0;
}

.bottom-element{
    position: absolute;
    bottom: 0;
    right: 0;
}

.filling-input{
    margin-right: 80px;
}

.scrollable {
    display: flex;
    height: 300px;
    overflow-y: scroll;
    overflow-x: scroll;
}