body {
    margin: 5px
}

.wrapper{
    position: relative;
    margin: 10px;
}

.info-panel{
    width: 40%;
    position: absolute;
    left: 0;
}

.tree-panel{
    width: 60%;
    position: absolute;
    right: 0;
}

label {
    margin-bottom: 0;
}

.btn-row{
    margin: auto;
    width: 95%;

}
